includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/canvural/larastan-strict-rules/rules.neon

parameters:

    paths:
        - app/
        - tests/

    # Level 9 is the highest level
    level: 9
